@charset "UTF-8";

body {
	background-color:#f0f0f0;	/* gray */
}

#allBoard {
	/* margin-top: 5px; */
	width: 60%;
	height: auto;
	min-height: 1000px; 
	display: table;
    margin-bottom: 25px;
	background-color:#ffffff;	/* white */
	margin: 0 auto;
    margin-top: 25px;
}

#menuBoard {
	margin-left: 20px;
	margin-top: 40px;
	font-size: 25px;
	color: #808080;
	font-weight: bold;
}

#menuBoard:after{
   content: "";
   width: 80px;
   text-align: center;
   /* margin-left: 50%;
   transform: translateX(-50%); */
   display: block;
   border-bottom: 5px solid #00bb5e;
   margin-top: 10px;
   margin-left: 25px;
}

#wrapper {
	margin-top: 80px;
	margin-left: 20px;
	width: 100%;
	text-align: center;
}

#wrapper a {
	text-decoration: none;
	color: #000000;
}

#no-articles {
	padding: 15px;
}

#writePart {
	position: absolute;
	width: 100%;
	margin-top: 40px;
	margin-right: 50px;
}

#writePart > #writeBtn {
	background-color: #e5e5e5;
	border: 0;
	width: 80px;
	height: 40px;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	color: #000000;			/* black */
}


#searchPart {
	margin-top: 130px;
	margin-left:20px;
}

#searchPart #searchForm #pagenation {
	margin-bottom: 50px;
}

#searchPart #searchForm #pagenation a {
	font-size: 20px;
	font-weight: bold;
	color: #000000;
}

#searchForm select {
	width: 150px;
	height: 40px;
	font-size: 20px;
}

#searchForm input {
	width: 400px;
	height: 40px;
	font-size: 20px;
}

#searchForm #searchBtn{
	background-color: #e5e5e5;
	border: 0;
	width: 130px;
	height: 40px;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}

#allBackground #popularity .oneWrapper .headerWrapper, 
#allBackground #theNewest .oneWrapper .headerWrapper{
	margin-bottom: 15px;
}


#wrapper>.contentWrapper {
	margin-top: 20px;
}

.fontSizeOne {
	font-size: 25px;
}


.fontSizeTwo {
	font-size: 20px;
}

.pdbottom {
	padding-bottom: 10px;
}

.header {
	font-weight: bold;
	text-align: center;
}

.number {
	width: 90px;
}

.subject {
	width: 385px;
}

.writer {
	width: 170px;
}

.create-date {
	width: 200px;
}

.view {
	width: 170px;
}

.recommend {
	width: 170px;
}

.box {
	display: inline-block;
}


.cntr {
	text-align: center;
}

