@charset "UTF-8";

#menuBoard {
	font-size: 30px;
	margin-left: 500px;
	margin-top: 50px;
}

#wrapper {
	margin-top: 150px;
	width: 100%;
	text-align: center;
}

#no-articles {
	padding: 15px;
}

.padded {
	padding: 20px;
	margin:20px;
}

#allBackground #popularity .oneWrapper .headerWrapper, 
#allBackground #theNewest .oneWrapper .headerWrapper{
	margin-bottom: 15px;
}

#wrapper>#headerWrapper>div
, #wrapper>.contentWrapper>div {
	padding: 15px;
}

.header {
	font-weight: bold;
	text-align: center;
}

.number {
	width: 70px;
}

.subject {
	width: 385px;
}

.writer {
	width: 170px;
}

.create-date {
	width: 170px;
}

.view {
	width: 170px;
}

.recommend {
	width: 170px;
}

.box {
	display: inline-block;
}


.cntr {
	text-align: center;
}