@charset "UTF-8";

#wrapperHeader {
	background-color: #ffffff;
	height: 400px;
	width: 100%;
   	text-align: center;
	/* position: fixed; */	/* 항상 그 자리에 잇게 */
	top:0 px;
	left: 0px;
	z-index: 1;			/* 쌓이게? 태그 위에 태그 위에 태그 이런식으로! 얘가 1이니까  맨위에 */
}

 
 /* 로그인시 header에 회원 정보 표시 */
 #wrapperHeader > #member_login {
	padding-top:10px;
	margin-right:0px;
	width: 100%;
	height: 50px;
	text-align: right;
	font-size: 22px;
	font-weight: bold;
	color: gray;
}
  /* 로그인시 header에 회원 정보 표시-로그아웃버튼 */
 #wrapperHeader #member_login > #hLogoutBtn {
 	margin-left: 40px;
 	margin-right: 5px;
 	width: 100px;
 	height: 40px;
	border: 0;
	background-color: #636262;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	cursor:pointer;
 }
 
  #wrapperHeader #member_login > #hMyInfoBtn {
 	margin-right: 60px;
 	width: 80px;
 	height: 40px;
	border: 0;
	background-color: #636262; /* background-color: #e5e5e5; */
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	cursor:pointer;
 }  
 
 
#wrapperHeader #header_logo, #wrapperHeader #header_search{
	display: inline-block;
	vertical-align:middle;
}

/* 로그인시, 회원정보 맨 위에 뛰우기 */
/* #wrapperHeader>#member_login {
	width:400px;
	height:50px;
	text-align: right;
}  */

#wrapperHeader > #wrapperInner{
	width: 100%;
	height: 200px;
	text-align: center;	
	margin-top:5px;
	margin-bottom:60px;
}

#wrapperHeader #wrapperInner #header_logo > a > img{
	width: 350px;
	height: 200px;
}

#wrapperHeader #wrapperInner > #header_search{
	margin-top:100px;
	margin-left:30px;
	width: 700px;
	height:50px;
}

/* 메인화면에서 검색 input */
#wrapperHeader #wrapperInner > #header_search #search_main > input {
	width: 600px;
	height:40px;
	border: 3px solid gray;
	font-size: 25px;
	/* margin-bottom:100px; */
}

#wrapperHeader #wrapperInner > #header_search #search_button > img {
	width: 60px;
	margin-left:20px;
}

#search_main {
	float: left;
}

#search_button {
	float: left;
}


/* 메뉴관련 CSS */
.menubar {
	/* border: none; */
	border: 0px;
	margin: 0px;
	padding: 0px;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans",
		"Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica,
		sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	height: auto;
	min-height: 50px;
	
}

.menubar ul {
	/* background: rgb(109, 109, 109); */
	height: 50px;
	list-style: none;
	margin: 0px auto;
	padding: 0;
	float: left;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    /* left: -50%;
    padding-left: 200px; */
}

.menubar li {
	/* float: left; */
	/* text-align: center; */
	/* vertical-align:center;  */
	/* align-items: center; */
	
	float: left;
    position: relative;
    /* left: 50%; */
    margin: 0 100px;
    
    
}

.menubar li a {
	/* background: rgb(109, 109, 109); */
	color: #000000;
	/* font-weight: bold;
	display: block;
	font-weight: normal; */
	line-height: 50px;
	margin: 0 20px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	text-decoration: none;
	font-weight: bold;		/* font-weight: 100; */
	
	
	display: block;
    /* line-height: 70px;  */  
    /* color: #000000; */
    font-size: 1em;
    vertical-align: middle;
    overflow: hidden;
    background-image: linear-gradient(#c0c0c0, #c0c0c0);
    /* padding-left:200px; */
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
}

.menubar li a:hover, .menubar ul li:hover a {
	/* background: rgb(71, 71, 71); */
	color: #c0c0c0;
	/* text-decoration: overline underline; */
	font-weight: bold;
	
	background-size: 100% 5px;
   	height: auto;
}

/* .menubar li ul {
	background: rgb(109, 109, 109);
	display: none; 평상시에는 드랍메뉴가 안보이게 하기
	height: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: absolute;
	width: 200px;
	z-index: 200;
	top:1em;
/*left:0;
} */

/* .menubar li:hover ul {
	display: block; 마우스 커서 올리면 드랍메뉴 보이게 하기
} */

/* .menubar li li {
	background: rgb(109, 109, 109);
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: 200px;
} */

.menubar li:hover li a {
	background: none;
}

/* .menubar li ul a {
	display: block;
	height: 50px;
	font-size: 12px;
	font-style: normal;
	margin: 0px;
	padding: 0px 10px 0px 15px;
	text-align: left;
} */

/* .menubar li ul a:hover, .menubar li ul li:hover a {
	background: rgb(71, 71, 71);
	border: 0px;
	color: #ffffff;
	text-decoration: none;
} */

.menubar p {
	clear: left;
}





/* #navibar>ul>li>a:hover{
   background-size: 98% 5px;
   height: auto;
   color: #ffffff;
}

#navibar>ul>li>a{
   display: block;
   line-height: 70px;   
   color: #fff;
   font-size: 1em;
   vertical-align: middle;
   overflow: hidden;
   background-image: linear-gradient(#ffffff, #ffffff); ;
   background-size: 0 5px, auto;
   background-repeat: no-repeat;
   background-position: center bottom;
   transition: all .2s ease-out;
} */