@charset "UTF-8";



/* -------------------< 메인 페이지 >---------------------- */

body {
	background-color:#f0f0f0;
}

/* 전체 배경색 회색 */
body .inline #allBackground{
	background-color:#f0f0f0;
	/* 신기하게도 아래에 있는 2줄이 가운데로 정렬시켜줌 */
	display: table;
    margin: 0 auto;
}

/* 배너크기 */
#allBackground #banner > img {
/* 	display: inline-block; */
    margin-top: 15px;
	/* margin-left: 600px; */
	width: 1200px;
	height: 350px;
    margin-right: 25px;

}

/* 로그인입력폼 */
#allBackground #login_popTrd #lojo_button {
/* 	display: inline-block; */
    /* login.css에서 #loginForm참고할것 */
	/* background-color:#ffffff; */
	width: 450px;
	height: 350px;

}

/* 인기 게시글 */
#allBackground #popularity {
/* 	display: inline-block; */
	
}

/* 인기 재래시장 순위 */
#allBackground #login_popTrd #popularTrdtnName{
/* 	display: inline-block; */
	background-color:#ffffff;
	width: 450px;
	height: 600px;
    /* margin-top: 80px; */
} 

/* vertical-align:middle; */
/* 인기, 최신 게시글 크기 */
#allBackground #popularity, #allBackground #theNewest {
	background-color:#ffffff;
	width:1200px;
	height:400px;
    /* margin-left: 600px; */
/* 	margin-top: 15px; */
/* 	margin-right: 15px; */
}

/* 인기, 최신 게시글 헤더 글자 */
#allBackground #popularity .oneWrapper > .headerWrapper div, #allBackground #theNewest .oneWrapper > .headerWrapper div{
	font-size: 20px; 
	font-weight: bold;
	color: #666666;
}

/* footer.jsp */
section.inline > section > #allBackground {
	position : relative;
	/* text-align: center; */
	padding:15px;
	/* overflow-y: scroll; */
}



/* .aside_left {
   position:fixed;
   width:400px;
   background-color:#efefef;
   float: left;
   margin-top:150px;
   padding-top: 30px;
   padding-bottom: 150px;
   top:30px;
   bottom:0px;
   overflow-y: scroll;
}

.aside_right {
   position:fixed;
   width:400px;
   background-color:#efefef;

   float: right;
  margin-top:200px;   
   padding-top: 30px;
   padding-bottom: 150px;
   top:30px;
   bottom:0px;
   overflow-y: scroll;
} */

/* section.inline > section {
	position : relative;
    left:200px;
    padding:15px;
} */

/* footer{
   width:100%;
   height:150px;
   background-color:#efefef;
   margin-top:500px;
   margin-left:200px;
   color:#333;
} */



