@charset "UTF-8";



/* -------------------< 메인 페이지 >---------------------- */

body {
	background-color:#f0f0f0;
}

/* 전체 배경색 회색 */
body .inline #allBackground{
	background-color:#f0f0f0;
	/* 신기하게도 아래에 있는 2줄이 가운데로 정렬시켜줌 */
	display: table;
    margin: 0 auto;
}

/* 배너크기 */
#allBackground #banner > img {
/* 	display: inline-block; */
    margin-top: 15px;
	/* margin-left: 600px; */
	width: 1200px;
	height: 350px;
    margin-right: 25px;

}

/* 로그인입력폼 */
#allBackground #login_popTrd #lojo_button {
/* 	display: inline-block; */
    /* login.css에서 #loginForm참고할것 */
	/* background-color:#ffffff; */
	width: 450px;
	height: 350px;

}

/* 인기 재래시장 순위 */
#allBackground #login_popTrd #popularTrdtnName{
/* 	display: inline-block; */
	background-color:#ffffff;
	width: 450px;
	height: 600px;
} 

/* vertical-align:middle; */

/* 인기게시글, 최신게시글, 인기재래시장 글자 */
#popularity h3, #theNewest h3, #login_popTrd #popularTrdtnName h3 {
	padding-left: 10px;
	padding-top: 10px;
	font-size: 30px;
	font-weight: bold;
	color: #000000;
}

/* 인기, 최신 게시글 div 크기 */
#allBackground #popularity, #allBackground #theNewest{
	background-color:#ffffff;
	width:1200px;
	height:400px;
    /* margin-left: 600px; */
/* 	margin-top: 15px; */
/* 	margin-right: 15px; */
}

/* 인기, 최신 게시글 제목, 작성자 등등 있는 div 크기 */
#allBackground #popularity .headerWrapper, #allBackground #theNewest .headerWrapper {
	width: 1200px;
	height: 35px;
	padding-left: 40px;
}

/* 인기, 최신 게시글 제목, 작성자 등등 내용있는 div 크기 */
#allBackground #popularity .contentSize, #allBackground #theNewest .contentSize {
	width: 1200px;
	height: 360px;
	padding-left: 30px;
}

/* 인기, 최신 게시글 헤더 글자 */
#allBackground #popularity .oneWrapper > .headerWrapper div, #allBackground #theNewest .oneWrapper > .headerWrapper div{
	/* padding-left: 20px; */
	font-size: 20px; 
	font-weight: bold;
	color: #c1c1c1
}

#allBackground #popularity .oneWrapper .contentSize .contentWrapper
, #allBackground #theNewest .oneWrapper .contentSize .contentWrapper {
	font-size: 18px; 
	padding-bottom: 2px;
}

/* footer.jsp */
section.inline > section > #allBackground {
	position : relative;
	/* text-align: center; */
	padding:15px;
	/* overflow-y: scroll; */
}

/* 인기재래시장 - 숫자 */
#login_popTrd #popularTrdtnName #num {	
	float: left;
	margin-left: 35px;
	margin-right: 50px;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}

#login_popTrd #popularTrdtnName #num div {
	/* border: 3px solid gray; */	
	background-color: #e5e5e5;
	width: 35px;
}

#login_popTrd #popularTrdtnName #num div,
#login_popTrd #popularTrdtnName #name div {
	margin-bottom: 	15px;
	height: 35px
}

/* 인기재래시장 - 이름 */
#login_popTrd #popularTrdtnName #name {
	float:left;
	/* margin-bottom: 20px; */
	font-size: 22px;

}

#login_popTrd #mainBanner2 {
	float:left;
	margin-top: 20px;
/* 	width: 450px;
	height: 200px; */
}

#login_popTrd #mainBanner2 img {
	width: 455px;
	height: 220px;
}

/* .aside_left {
   position:fixed;
   width:400px;
   background-color:#efefef;
   float: left;
   margin-top:150px;
   padding-top: 30px;
   padding-bottom: 150px;
   top:30px;
   bottom:0px;
   overflow-y: scroll;
}

.aside_right {
   position:fixed;
   width:400px;
   background-color:#efefef;

   float: right;
  margin-top:200px;   
   padding-top: 30px;
   padding-bottom: 150px;
   top:30px;
   bottom:0px;
   overflow-y: scroll;
} */

/* section.inline > section {
	position : relative;
    left:200px;
    padding:15px;
} */

/* footer{
   width:100%;
   height:150px;
   background-color:#efefef;
   margin-top:500px;
   margin-left:200px;
   color:#333;
} */



