@charset "UTF-8";

body {
	background-color:#f0f0f0;
}

#all {
	/* margin-top: 5px; */
	width: 60%;
	height: 850px; 
	display: table;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color:#ffffff;
}

#all #title1 {
	margin-top: 40px;
	margin-left: 20px;
	font-size: 25px;
	color: #808080;
	font-weight: bold;
}

#all #title2 {
	margin-top: 100px;
	margin-left: 850px;
	font-size: 20px;
	font-weight: bold;
	color: #808080;
}

#all #title1:after{
   content: "";
   width: 290px;
   text-align: center;
   /* margin-left: 50%;
   transform: translateX(-50%); */
   display: block;
   border-bottom: 5px solid #00bb5e;
   margin-top: 10px;
   margin-left: 35px;
}

#all #trdtn_name {
	float: left;
	width: 700px;
	height: 700px;
	margin-bottom: 10px;
	margin-top: 115px;
	margin-left: 150px;
	/* background-color:#ffffff; */
}


#all #trdtn_name #DoNameOne {
	float: left;
	margin-right: 100px;
}


#all #trdtn_name #DoNameTwo {
	float: left;
}

#all #trdtn_name li>.sName {
	font-size: 25px;
	cursor: pointer; 
	color: #000000;  
	text-decoration:none;
	margin-bottom: 10px;
}

#all #map {
	float: left;
	margin-top:30px;

	width:700px; 
	height:700px; 

	/* text-align: center; */
	/* vertical-align: middle; */
}


.do {
	cursor:pointer;
}

.doName {
	margin-left: 10px;
	font-size: 25px;
}