@charset "UTF-8";

body {
	background-color:#f0f0f0;
}

#menu_regist {
	margin-top: 50px;
	margin-left: 750px;
	font-size: 30px;
}


#registForm {
	margin-top: 50px;
	margin-left: 1200px;
}

#registForm .join_title, #registForm .join_gender{
	font-size: 30px;
	display: inline-block;
}

/* 아이디 input */
#registForm #memberId {
	margin-left: 150px;
	width: 350px;
	height: 50px;
	font-size: 20px;
}

/* 비밀번호 input */
#registForm #password {
	margin-left: 120px;
	width: 350px;
	height: 50px;
	font-size: 20px;
}

/* 비밀번호 재확인 input */
#registForm #password_ckeck {
	margin-left: 20px;
	width: 350px;
	height: 50px;
	font-size: 20px;
}

/* 이름 input */
#registForm #name {
	margin-left: 180px;
	width: 350px;
	height: 50px;
	font-size: 20px;
}

/* 성별 radio-box */
#registForm .gender_size {
	margin-left: 180px;
	width: 40px;
	height: 30px;
}

/* 생년월일 */
#registForm #birth {
	margin-left: 120px;
	width: 350px;
	height: 50px;
	font-size: 20px;
}

/* 이메일 input */
#registForm #email {
	margin-left: 150px;
	width: 350px;
	height: 50px;
	font-size: 20px;
}

#registForm #regist {
	margin-left: 250px;
	margin-top: 50px;
	width: 150px;
	height: 50px;
	background-color: gray;
	border: 0;
	cursor:pointer;
	font-size: 25px;
	color: #ffffff;
	font-weight: bold;
}

