@charset "UTF-8";

body {
	background-color:#f0f0f0;
}

#all {
	/* margin-top: 5px; */
	width: 60%;
	min-height: 1000px; 
	display: table;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color:#ffffff;
}

#all #headerfont {
    margin-left: 20px;
	margin-top: 40px;
	font-size: 25px;
	color: #808080;
	font-weight: bold;
}

#headerfont:after {
    content: "";
    width: 205px;
    text-align: center;
    display: block;
    border-bottom: 5px solid #00bb5e;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 100px;
}



/* ------- write input ------- */
#all #writePart #writeForm {
    display: table;
    margin: 0 auto;
}

#all #writePart #writeForm #title{
    margin-left: 120px;
    margin-bottom: 30px;
    display: inline-block;
    width: 400px;
	height: 40px;
    font-size: 20px;
    padding-left: 10px;
    border: 3px solid gray;
}

#all #writePart #writeForm #content{
    margin-left: 125px;
    margin-bottom: 30px;
    display: inline-block;
    width: 800px;
	height: 400px;
    font-size: 20px;
    padding-left: 10px;
    border: 3px solid gray;
}

#all #writePart #writeForm #pictureFile{
    margin-left: 120px;
    display: inline-block;
    width: 400px;
	height: 40px;
    font-size: 20px;
    /* padding-left: 10px; */
}

#all #writePart #writeForm #writeBtn{
    margin-top: 70px;
    margin-left: 50%;
	width: 100px;
	height: 50px;
	background-color: #636262;
	border: 0;
	cursor:pointer;
	font-size: 20px;
	color: #ffffff;
	font-weight: bold;
}

#all #marker img {
    width: 200px;
    height: 120px;
    margin-left:1570px;