<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
	<configuration>
 
	  <typeAliases>
	  	<typeAlias type="com.ktds.traditionalmarket.member.vo.MemberVO" alias="MemberVO" />
	  	<typeAlias type="com.ktds.traditionalmarket.board.vo.BoardVO" alias="BoardVO" />
	  	<typeAlias type="com.ktds.traditionalmarket.board.vo.BoardSearchVO" alias="BoardSearchVO" />
	  	<typeAlias type="com.ktds.traditionalmarket.board.reply.vo.BoardReplyVO" alias="BoardReplyVO" />
	  	<typeAlias type="com.ktds.traditionalmarket.board.reply.vo.GoodVO" alias="GoodVO" />
	  	<typeAlias type="com.ktds.traditionalmarket.board.reply.vo.BadVO" alias="BadVO" />
	  	<typeAlias type="com.ktds.traditionalmarket.trdtnmarket.vo.TrdtnmarketVO" alias="TrdtnmarketVO" /> 	  	 
	  	<typeAlias type="com.ktds.traditionalmarket.store.vo.StoreVO" alias="StoreVO" />
	  	<typeAlias type="com.ktds.traditionalmarket.store.reply.vo.StoreReplyVO" alias="StoreReplyVO" />
	  	<typeAlias type="com.ktds.traditionalmarket.product.vo.ProductVO" alias="ProductVO" />
	  </typeAliases>
  
	</configuration> 